{% extends 'navigation.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">    

    <marquee
        style="font-family:'Monotype Corsiva'; font-size:25px; color:lightpink;background-color:grey; font-weight:bold;"scrollamount="10">
        Welcome to Add Patient
    </marquee>

    <div class="row mt-4 align-items-center">

        <!-- ========== LEFT IMAGE ========== -->
        <div class="col-md-5 text-center">
            <img src="{% static 'images/Patient4.jpg' %}"
            class="img-fluid rounded shadow"alt="Add Patient">
        </div>

        <!-- ========== RIGHT FORM ========== -->
        <div class="col-md-7">
            <div class="card p-4 shadow">

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="fw-bold">Patient Name</label>
                        <input type="text" name="name" required class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="fw-bold">Phone</label>
                        <input type="text" name="phone" required class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="fw-bold d-block">Gender</label>
                        <input type="radio" name="gender" value="Male" required> Male
                        <input type="radio" name="gender" value="Female" class="ms-3"> Female
                    </div>

                    <div class="mb-3">
                        <label class="fw-bold">DOB</label>
                        <input type="date" name="dob" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="fw-bold">Address</label>
                        <input type="text" name="address" class="form-control">
                    </div>

                    <div class="d-grid">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

{% if error == "no" %}
<script>
    alert("Record Saved Successfully");
    window.location = "{% url 'view_patient' %}";
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("❌ Something went wrong. Try again");
</script>
{% endif %}

{% endblock content %}
