{% extends 'navigation.html' %}

{% load static %}
{% block content %}

<style>
.mydivstyle:hover{
box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
transform:translateY(-20px)
}
</style>

<div class="container" style = "margin-top:50px">
    <marquee style="font-family: 'Monotype Corsiva'; font-size: 25px; width:150%; color: lightpink; background-color: grey; font-weight: bold; margin-top:1%;" 
        scrollamount="10" behavior="scroll"
>       Welcome to Contact Us
    </marquee>
<br><br>

<div class="row mt-5 text-center">
    <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fas fa-phone-square"></i> contact</h4>
        <p class="mt-3 font-weight-bold"><a class="text-danger" href="tel: 977 9807868627">977 9807868627</a></p>
    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fas fa-envelope"></i> Send Email</h4>
        <p class="mt-3 font-weight-bold"><a class="text-danger" href="mail: rumamahato918@gmail.com">rumamahato918@gmail.com</a></p>
    </div>
    <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fa-jelly-fill fa-regular fa-address-card"></i> Office Address</h4>
        <p class="mt-3 font-weight-bold"><a class="text-danger" href="address:Bhaisepati-Lalitpur">Bhaisepati-Lalitpur</a></p>
    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fa-jelly-fill fa-regular fa-address-card"></i>Office Hours</h4>
        <p class="mt-3 font-weight-bold text-danger"><a class="text-danger" href="address:Bhaisepati-Lalitpur">10:00 AM to 6:00 PM</a></p>
    </div>
    
</div>
<div class="col-md-6 padding_0"data-aos="flip-left" data-aos-duration="3000">
               <div class="map-responsive" >
                  <h1 style="color: black; font-size: 50px;" class="text-center"><b>OUR LOCATION</b></h1>


                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d778.921081888901!2d85.3
                  1002128784354!3d27.650523915560925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb17
                  83bbab1561%3A0xbc17c2550481302e!2sNakhudole%2C%20Karyabinayak%2044700!5e0!3m2!1sen!2snp!4v1765
                  643621964!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading
                  ="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

               </div>
            </div>
</div>
{% endblock content %}


